body {
    background-color: #da3030;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/* HEADING */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.link--cta {
    font-size: 50px;
    color: aquamarine; 
}
